.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #0f265a;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-wrap: wrap;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
}

.btn {
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.login {
  background-color: #0a1c3f;
  color: white;
}

.register {
  background-color: #3b82f6;
  color: white;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar {
    align-items: flex-start;
  }
}
